*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    background-color: antiquewhite;
    border: 5px solid black;
    height: 100vh;
    width:  100vw; 
}


.box1{
    background-color: blue;
    height: 100px;
    width: 300px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: 5px;
    padding: 2px;
    position: relative;
    animation-name: rightmovement;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}


@keyframes rightmovement {
    from{
     top: 0;
     left: 0;
    }

    to{
     top: 0;
     left: 1220px;
    }
}


.box2{
    background-color: blue;
    height: 100px;
    width: 300px;
    border: 5px solid rgb(43, 39, 38);
    border-radius: 15px;
    margin: 5px;
    padding: 2px;
    position: relative;
    animation-name: leftmovement;
    animation-duration: 3s; 
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    

}


@keyframes leftmovement {
    from{
     top: 510px;
     left: 0px;
    }

    to{
     top: 510px;
     left: 1210px;
    }
}

#circle{
    background-color: blue;
    height: 100px;
    width: 100px;
    border: 5px solid rgb(43, 39, 38);
    border-radius: 100%;
    margin: 5px;
    padding: 2px;
    position: relative;
    top: 50px;
    /* left: 40px; */
    display: flex;
    flex-direction: column;
    justify-self: center;
    animation-name: circlemovement;
    animation-duration: 10s; 
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

/* @keyframes circlemovement {
    0%{
    top: 0%;
    left: 0%;
    }
    30%{
    top: 0%;
    left: 40%;
   }
    60%{
        top: 0%;
        right: 40%;
    }
    100%{
        top: 60%;
        right: 5%;
    }


} */