.container{
    background-color: aqua;
    border: 5px solid black;
    margin: 2px;
    padding: 2px;
    display: flex;
}

.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
}

#box1{
    background-color: yellow;
}

#box2{
    background-color: bisque;
}

#box3{
    background-color: green;
}

#box4{
    background-color: pink;
}

@media (min-width: 500px) {
    .container{
        flex-direction: row;
    }
}


@media (max-width: 500px) {
    .container{
        flex-direction: column;
    }
}
