* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    width: 500px;
    height: 600px;
    background-color: rgb(221, 223, 226);
    /* border: 0.5px solid black; */
    border-radius: 1.5rem;
    box-shadow: 5px 5px 40px rgba(29, 20, 20, 0.5);
    /* align-items: center; */
}


h2 {
    font-weight: 800;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-text {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 4rem;
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


textarea {
    width: 80%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 16px;
    font-weight: bold;
}


input {
    width: 80%;
    padding: 10px;
    border: 1px solid #d1cece;
    border-radius: 1rem;
    font-size: 16px;
}


button {
    width: 70%;
    padding: 10px;
    margin-left: 4rem;
    border: none;
    background: #3c7ee2;
    color: white;
    font-size: 16px;
    border-radius: 1.5rem;
    cursor: pointer;
}


button:hover {
    background: #218838;
}